#main{
    margin-left: 5%;
    margin-top: 10%;
}

#main p{
    color: white;
    opacity: 0.8;
    font-size: 5.5vw;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif; /* フォントは暫定(変更予定あり) */
    text-shadow: 0 0 10px white;
}

body{
    background-size: cover;
}

#change_date{
    position: relative;
    /* text-align: right; */
    width: 30%;
    height: 25vh;
    margin-left: 70%;
    margin-top: 10%;
}

#msg{
    color: white;
    font-size: 20px;
    opacity: 0.5;
}

#msg2{
    color: white;
    font-size: 12px;
    opacity: 0.5;
    margin-top: -15px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin: -15px, 5px, 5px, 20px;
}

#inps{
    position: relative;
    width: 100%;
}

#ind{
    position: absolute;
    left: 3%;
    width: 50%;
    height: 30px;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    background-color: #00000000;
    border: none;
    border-bottom: solid 1px #fff8;
    /* opacity: 0.5; */
}

#button{
    position: absolute;
    right: 15%;
    width: 25%;
    height: 30px;
    margin-left: 5%;
    color: white;
    background-color: #fff3;
    border: none;
    border-bottom: solid 1px #fff8;
    border-right: solid 1px #fff8;
}

#error{
    display: none;
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 16px;
    opacity: 0.5;
}